@page "/"
<PageTitle>KLOC Index</PageTitle>
<center>
    <div class="container-fluid  ">
        <div class="row bg-secondary">
            <div class="col align-self-center  fs-2">
                Welcome to COCOMO (
                <a href="https://github.com/Sharaf-Mansour/COCOMO" class="link-info" target="_blank">Open Source</a>
                ) Basic Model Calculator Made by
                <a href="https://www.linkedin.com/in/sharaf-mansour-4a16941b0" class="link-info" target="_blank">Sharaf El Dean</a>.
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-info fs-2 ">
                <label class="fs-2 w-75 input-group m-2">
                    @("Please Enter Kilo Line Of Code (KLOC):  ")
                    <input class="form-control ms-2 w-25 fs-5" type="number" min="0" placeholder="Please Enter Kilo Line Of Code (KLOC)" @bind="KLOC" @bind:event="oninput" />
                </label>
            </div>
        </div>
        <div class="row ">
            <div class="col align-self-center  bg-warning fs-2 ">
                @($"COCOMO Organic Model for {KLOC:0.##} KLOC:")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-warning fs-2 ">

                @($"Organic Effort = {OrganicEffort:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-warning fs-2 ">

                @($"Organic Tdev   = {OrganicTdev:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-warning fs-2 ">

                @($"Organic Productivity = {OrganicProductivity:0.##} KLOC/PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-warning fs-2 ">

                @($"Organic Average Staff Size = {OrganicAverageStaffSize:0.##} Persons")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-danger fs-2 ">

                @($"COCOMO Semidetached Model for {KLOC:0.##} KLOC:")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-danger fs-2 ">

                @($"Semidetached Effort = {SemidetachedEffort:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-danger fs-2 ">

                @($"Semidetached Tdev= {SemidetachedTdev:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-danger fs-2 ">

                @($"Semidatached Productivity = {SemidatachedProductivity:0.##} KLOC/PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-danger fs-2 ">

                @($"Semidatached Average Staff Size = {SemidatachedAverageStaffSize:0.##} Persons")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-success fs-2 ">

                @($"COCOMO Embedded Model for {KLOC:0.##} KLOC:")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-success fs-2 ">

                @($"EmbeddedEffort = {EmbeddedEffort:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-success fs-2 ">

                @($"Embedded Tdev = {EmbeddedTdev:0.##} PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-success fs-2 ">

                @($"Embedded Productivity = {EmbeddedProductivity:0.##} KLOC/PM")
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center  bg-success fs-2 ">

                @($"Embedded Average Staff Size = {EmbeddedAverageStaffSize:0.##} Persons")
            </div>
        </div>
        <div class="row bg-secondary">
            <div class="col align-self-center  fs-2">
                COCOMO Console Playground Code Can be found
                <a href="https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUKgBgAJVMA2EzAOgFkBDYACwG49DKLSqBhAeygDOvADYBTVrgD0kgNIAZAPLciAQQAOaooF4NwIB7RAEYBPIgGVGdMHQBmReoN4QweAGK8wogOZgHUOH2FuRAC8RHz2Yv5uVAAiFgDWAELCEOJ4AOpgAJbAogAUAEQACmJ0AqJEAKJQOWBEAJoOtTKZAURymVCiAkS8Nnxw5bnySgCUIET5IxKu7l4+fiKBIWFCEYtgVGmM2am4eABuFkTDyiEALAQEEgdHCmAedFCZAMYVVlZuwMFEhbwA7kNFNwYERqAQAKwjIgAKiI6CoZwkh1qdweT2eABUBvtvr8AajHi83h8wMAQQQqABmAAcUNh8PBSNu90JzxU+1Elg8ohMwGsVhMmQAXuUQgT0cTPkRJERxS8saJ9kyUSz0YVvHAIM9gJl9tljCETtLZaqie9PtdcDNPN5oAsArVlvxVqJIhtYmA4nVRMIAn8JBkdu1OrkACT5bhKBQ0BQmtEvWy8AbCIgkogAbxOIApAGIcwBfY5AkCTANZHLBvLhuXPSrm0nfdM1yWk7NUPOFwo0UvpcuiSth/I1ogKnFERs10dtjs/btTXtBjpVoem2vqpNanV64AGjM19ea7W6/XTgtFpSSLs93CBitLwfD9mcujc0x896mYWiverp9cnnvgKX6np2nJCII143LUJiiAAtpkAx8s8jCiHALZfCEeKAkoILUJg6B0kQlLKqYcEIaISEoXAo64v8uQwfBiF0MhqHoeSVKQjCcJUIyUGkYxDDMVRf4vgB/KCiK3wMeRlGsfWXwytJTEsdR2IkUpgkqQem7Hju3xGopZHKVR6GWtacx2m63wrCIrrrDE8QAEqoWWi4huGkaRjG/EyUJqGJsmqaBJmxa5meWbXre/b3uGSkUX5cB1iSGEZnFslofJIGzpFfYDrFRnxSpI7YiE6ZpQlU5hZ2c6uXe7n5Bp6U/BqOnbruZVGZpVHaUebVZScl41QudXLo1CWqBy/5vvyn6SaVY0qSJ3K8uJwFVT8YHOpBuDIpUsH6KhAwZcltEAicuFUARXGUlQZAkRU+2HahNGYXRD0HXAR1sUQFKUld9I8fdj2fahS1ie8Enfu9T3HVKMrQyDqmKkDH1HT1W76vpQLGgjX3ydMbg2vMVlOuEdkOg5noAOLuKIUC1dF9WedGsa4/5NBJj6QW1CFSj9cWOVucubOww2pUi+hWVXvON65TF+Qi8ViqNiLlXtme0sM3lCvA0dzUbr1mPi7rqHo7phj8xemvDYzwsm4lYPTR+kMq/bYMrRDa3q6BYDgQI23mbavgk6Ezq2W6VDOXAWv3vkGLmFAcREIYDjcyQxBGuoailkAA=" class="link-info" target="_blank">here</a>
            </div>
        </div>
    </div>
</center>
@code {
    private double _kloc;
    double KLOC
    {
        get => _kloc;
        set => _kloc = value > 0 ? value : 0;
    }

    double OrganicEffort => Pow(KLOC, 1.05) * 2.4;
    double OrganicTdev => Pow(OrganicEffort, 0.38) * 2.5;
    double OrganicAverageStaffSize => OrganicEffort / OrganicTdev;
    double OrganicProductivity => KLOC / OrganicEffort;
    double SemidetachedEffort => Pow(KLOC, 1.12) * 3;
    double SemidetachedTdev => Pow(SemidetachedEffort, 0.35) * 2.5;
    double SemidatachedAverageStaffSize => SemidetachedEffort / SemidetachedTdev;
    double SemidatachedProductivity => KLOC / SemidetachedEffort;
    double EmbeddedEffort => Pow(KLOC, 1.2) * 3.6;
    double EmbeddedTdev => Pow(EmbeddedEffort, 0.32) * 2.5;
    double EmbeddedAverageStaffSize => EmbeddedEffort / EmbeddedTdev;
    double EmbeddedProductivity => KLOC / EmbeddedEffort;
}